<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
    <div class="container">
        <div class="cards">
          <section class="card">
            <figure>
              <div class="img-overlay hot-home">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
                <div class="overlay"><a href="#">view property</a></div>
                <div class="cont">
                  <div class="icons-img">
                    <button><i class="fas fa-heart"></i></button>
                    <button><i class="fas fa-share"></i></button>
                  </div>
                </div>
              </div>
              <figcaption>home in merrick way</figcaption>
            </figure>
            <div class="card-content">
              <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>
    
              <section class="icons-home">
                <div class="name-icon">
                  <span>bedrooms</span>
                  <div class="icon">
                    <i class="fas fa-bed"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>bathrooms</span>
                  <div class="icon">
                    <i class="fas fa-sink"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>area</span>
                  <div class="icon">
                    <i class="fas fa-vector-square"></i>
                    <span>4300</span>
                  </div>
                </div>
              </section>
              <section class="price">
                <span>for sale</span></br>
                <span>$540,000</span>
              </section>
            </div>
          </section>

          <section class="card">
            <figure>
              <div class="img-overlay hot-home">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
                <div class="overlay"><a href="#">view property</a></div>
                <div class="cont">
                  <div class="icons-img">
                    <button><i class="fas fa-heart"></i></button>
                    <button><i class="fas fa-share"></i></button>
                  </div>
                </div>
              </div>
              <figcaption>home in merrick way</figcaption>
            </figure>
            <div class="card-content">
              <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>
    
              <section class="icons-home">
                <div class="name-icon">
                  <span>bedrooms</span>
                  <div class="icon">
                    <i class="fas fa-bed"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>bathrooms</span>
                  <div class="icon">
                    <i class="fas fa-sink"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>area</span>
                  <div class="icon">
                    <i class="fas fa-vector-square"></i>
                    <span>4300</span>
                  </div>
                </div>
              </section>
              <section class="price">
                <span>for sale</span></br>
                <span>$540,000</span>
              </section>
            </div>
          </section>

          <section class="card">
            <figure>
              <div class="img-overlay hot-home">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
                <div class="overlay"><a href="#">view property</a></div>
                <div class="cont">
                  <div class="icons-img">
                    <button><i class="fas fa-heart"></i></button>
                    <button><i class="fas fa-share"></i></button>
                  </div>
                </div>
              </div>
              <figcaption>home in merrick way</figcaption>
            </figure>
            <div class="card-content">
              <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>
    
              <section class="icons-home">
                <div class="name-icon">
                  <span>bedrooms</span>
                  <div class="icon">
                    <i class="fas fa-bed"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>bathrooms</span>
                  <div class="icon">
                    <i class="fas fa-sink"></i>
                    <span>3</span>
                  </div>
                </div>
                <div class="name-icon">
                  <span>area</span>
                  <div class="icon">
                    <i class="fas fa-vector-square"></i>
                    <span>4300</span>
                  </div>
                </div>
              </section>
              <section class="price">
                <span>for sale</span></br>
                <span>$540,000</span>
              </section>
            </div>
          </section>
        </div>
    </div>
</body>
</html>