<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>  

  <div class="container-fluid main">

    <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="item active background a"></div>
      </div>
    </div>
    
    <div class="covertext">
      <div class="col-lg-10" style="float:none; margin:0 auto;">
        <h1 class="title">ELINE</h1>
        <h3 class="subtitle">A Tidy, Clean, Easy-to-Use, and Responsive Landing Page Template</h3>
      </div>
      <div class="col-xs-12 explore">
        <a href="/imoveis"><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
      </div>
    </div>
    
  </div>

  <div class="container">
    <div class="cards">
      <section class="card">
        <figure>
          <div class="img-overlay hot-home">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
            <div class="overlay"><a href="#">view property</a></div>
            <div class="cont">
              <div class="icons-img">
                <button><i class="fas fa-heart"></i></button>
                <button><i class="fas fa-share"></i></button>
              </div>
            </div>
          </div>
          <figcaption>home in merrick way</figcaption>
        </figure>
        <div class="card-content">
          <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>

          <section class="icons-home">
            <div class="name-icon">
              <span>bedrooms</span>
              <div class="icon">
                <i class="fas fa-bed"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>bathrooms</span>
              <div class="icon">
                <i class="fas fa-sink"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>area</span>
              <div class="icon">
                <i class="fas fa-vector-square"></i>
                <span>4300</span>
              </div>
            </div>
          </section>
          <section class="price">
            <span>for sale</span></br>
            <span>$540,000</span>
          </section>
        </div>
      </section>

      <section class="card">
        <figure>
          <div class="img-overlay hot-home">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
            <div class="overlay"><a href="#">view property</a></div>
            <div class="cont">
              <div class="icons-img">
                <button><i class="fas fa-heart"></i></button>
                <button><i class="fas fa-share"></i></button>
              </div>
            </div>
          </div>
          <figcaption>home in merrick way</figcaption>
        </figure>
        <div class="card-content">
          <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>

          <section class="icons-home">
            <div class="name-icon">
              <span>bedrooms</span>
              <div class="icon">
                <i class="fas fa-bed"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>bathrooms</span>
              <div class="icon">
                <i class="fas fa-sink"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>area</span>
              <div class="icon">
                <i class="fas fa-vector-square"></i>
                <span>4300</span>
              </div>
            </div>
          </section>
          <section class="price">
            <span>for sale</span></br>
            <span>$540,000</span>
          </section>
        </div>
      </section>

      <section class="card">
        <figure>
          <div class="img-overlay hot-home">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
            <div class="overlay"><a href="#">view property</a></div>
            <div class="cont">
              <div class="icons-img">
                <button><i class="fas fa-heart"></i></button>
                <button><i class="fas fa-share"></i></button>
              </div>
            </div>
          </div>
          <figcaption>home in merrick way</figcaption>
        </figure>
        <div class="card-content">
          <p>Enchantine three bedroom, three bath home with spacious oe bedroom, one bath...</p>

          <section class="icons-home">
            <div class="name-icon">
              <span>bedrooms</span>
              <div class="icon">
                <i class="fas fa-bed"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>bathrooms</span>
              <div class="icon">
                <i class="fas fa-sink"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>area</span>
              <div class="icon">
                <i class="fas fa-vector-square"></i>
                <span>4300</span>
              </div>
            </div>
          </section>
          <section class="price">
            <span>for sale</span></br>
            <span>$540,000</span>
          </section>
        </div>
      </section>
    </div>
</div>


</body>

   