
  
  /* body style */
  
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-body);
  }
 


  /* Estilos gerais */
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.imovel-details {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.imovel-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.imovel-details h1 {
  font-size: 20px;
  margin: 0;
}

.imovel-details p {
  margin: 5px 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .imovel-details {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .imovel-details {
      width: 100%;
  }
}
