.tudo {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://eticimoveis.com.br/media/eticimoveis/2018/06/Permuta-troca-de-imoveis.jpg');
  background-size: cover;
  background-position: center;
}

.px-3{
  text-align: center;
}

.subtitle {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
  padding: 20px;
  border-radius: 10px;
  font-size: 28px; /* Increase the font size as needed */
  font-weight: bold; /* Make the text bold */
}


