/* Estilos para a seção container2 */
.container2 {
  background-color: bisque;
  align-items: center;
}

/* Estilos para o link "Sair" */
.container2 a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* Estilos para o título "Móveis que combinam estilo e conforto em um único espaço" */
.subtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

/* Estilos para o botão "ANUNCIE AQUI" */
.container2 .explorebtn {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o botão "ANUNCIE AQUI" ao passar o mouse sobre ele */
.container2 .explorebtn:hover {
  background-color: #0056b3;
}


/* Estilos gerais */
.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.imovel-details {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
}

.imovel-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.imovel-details h1 {
  font-size: 20px;
  margin: 0;
}

.imovel-details p {
  margin: 5px 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .imovel-details {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .imovel-details {
    width: 100%;
  }
}
